<div class=" relative w-full h-[100vh] font-PlusJakartaSans">
    <div class=" absolute  w-full h-[100vh]  bg-[url(./assets/image/pier-blue-holiday-resort-house.jpg)]  bg-center bg-cover blur-[1px]">
</div>
<div class="bg-white  w-full sm:w-[495px]   rounded-2xl  absolute left-1/2 top-1/2 -translate-1/2 shadow-lg">
<div class="w-full flex justify-center mt-7 gap-2 items-center">
<img src="./assets/image/earth.png" alt="earth" class="w-8"/>
<h2 class=" text-shadow-transparent text-lg font-bold ">TravelFlow</h2>
</div>
<div class="mt-7">
    <h2 class="text-2xl text-center text-gray-700 font-semibold">Admin Dashboard Login</h2>

   <div class="container max-w-[80%] mx-auto mt-4 font-bold" >
     <form action="" class="flex flex-col ">
        <label for="" class=" mb-1">email</label>
        <input class="border-2 h-9  border-slate-300 rounded-lg placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-blue-300" type="email" placeholder="email">
        <label class="mt-4  mb-1" for="">password</label>
        <input class="border-2 h-9  border-slate-300 rounded-lg placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-blue-300" type="password" placeholder="password">
        <button type="button" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-lg transition duration-200 ease-in-out mb-7 text-lg font-meduim">signin</button>
    </form>
   </div>
</div>
</div>
</div>
