<div class="w-[270px] h-[100vh] font-PlusJakartaSans p-1 border-gray-200 border-e-[0.5px]">
    <div class="flex flex-col content-between justify-between h-full">
        <div class="w-full flex justify-center gap-2 items-center mt-4 mb-4">
            <img src="./assets/image/earth.png" alt="earth" class="w-8" />
            <h2 class=" text-shadow-transparent text-lg font-bold ">TravelFlow</h2>
        </div>


        <div class="h-full flex flex-col justify-between py-8 content-around border-t-[1px] border-gray-200">


            <div class=" flex flex-col px-5 ">
                <a href="#"
                    class=" bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-2 rounded-lg transition duration-200 ease-in-out mb-7 text-lg font-meduim">
                    <i class="pi pi-home me-1"></i> Dashboard</a>
                <a href="#"
                    class=" font-semibold px-3 py-2 rounded-lg transition duration-200 ease-in-out mb-7 text-lg font-meduim">
                    <i class="pi pi-users
 me-1"></i>All Users</a>
                <a href="#"
                    class=" font-semibold px-3 py-2 rounded-lg transition duration-200 ease-in-out mb-7 text-lg font-meduim"><i
                        class="pi pi-map
 me-1"></i>Ai
                    Trips</a>
            </div>
            <div class="flex justify-between items-center px-4">
                <div class="flex gap-2.5 justify-center items-center">
                    <span class="w-10 h-10 rounded-full overflow-hidden inline-block"><img class="w-full"
                            src="../../../assets/image/man.png" alt=""></span>
                    <h2 class="font-PlusJakartaSans font-bold">ahmed elmogy</h2>
                </div>
                <i class="pi pi-sign-out text-red-700"></i>

            </div>
        </div>

    </div>
</div>