@import "tailwindcss";
@import "primeicons/primeicons.css";
@theme {
  --font-PlusJakartaSans:PlusJakartaSans;
  --breakpoint-3xl:1600px;
}


@font-face {
  font-family: 'PlusJakartaSans';
  src: url('./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


